In [29]:
from gen3.auth import Gen3Auth
from gen3.submission import Gen3Submission

import pandas as pd

In [2]:
COMMONS = 'https://jcoin.datacommons.io/'
CREDS_PATH = 'credentials.json'

In [3]:
program = "JCOIN"

In [4]:
auth = Gen3Auth(COMMONS,CREDS_PATH)
sub = Gen3Submission(auth)

## Project list

In [ ]:
# see the project ids
sub.get_projects(program)['links']

## Submitter id ranges

In [30]:
projects = ['YaleHIV','Chestnut','NYU','UKY','Yale']

In [35]:
submitter_id_range = []
for p in projects:
    participant = sub.export_node(program,p,'participant',fileformat='json')
    submitter_ids = [rec['submitter_id'] for rec in participant['data']]
    submitter_id_range.append(
        {
            'project':p,
            'min':min(submitter_ids),
            'max':max(submitter_ids)
        }
    )

In [36]:
pd.DataFrame(submitter_id_range)

    project        min        max
0   YaleHIV  J900-0010  J900-0580
1  Chestnut  J200-0011  J200-1355
2       NYU  J140-0015  J140-7296
3       UKY  J100-0013  J100-3483
4      Yale  J150-0017  J150-0922